---
title: EDU-todentaminen
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: fi-FI
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205264"
---
# <a name="edu-verification"></a>EDU-todentaminen

Useimmissa tapauksissa akateemiset kelpoisuuspyynnöt käsitellään 24-48 tunnin kuluessa. Jotkin pyynnöt saattavat vaatia perusteellisempaa tarkistusta, ja käsittely voi kestää jopa 10 arkipäivää. Kun olet valmis, lähetämme sähköpostia, jossa on koulusi kelpoisuustila.

**Tärkeää** Jos poistuit ohjatusta vahvistustoiminnosta ennen toimialueen syöttämistä, voit [jatkaa ohjattua akateemista vahvistustoimintoa](https://go.microsoft.com/fwlink/p/?linkid=2135255) milloin tahansa ilmaisen kokeilujakson aikana.

Jos haluat tarkistaa toimialueesi tilan, siirry [Microsoft 365 -hallintakeskukseen](https://go.microsoft.com/fwlink/p/?linkid=2024339). Vieritä aloitussivulla alareunaan ja etsi **Laskutuskortti.** **Laskutuskortti** ilmaisee vahvistusprosessin tilan (hyväksytty, odottava, hylätty tai toimialueen lisääminen).

Jos pyyntösi hylätään, katso, [että oma koulu ei ole kelvollinen. Mitä minä nyt teen?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)