---
title: EDU-vahvistus
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: HT
ms.contentlocale: fi-FI
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814369"
---
# <a name="edu-verification"></a><span data-ttu-id="b6930-102">EDU-vahvistus</span><span class="sxs-lookup"><span data-stu-id="b6930-102">EDU verification</span></span>

<span data-ttu-id="b6930-103">Useimmissa tapauksissa akateemiset kelpoisuuspyynnöt käsitellään 24-48 tunnin kuluessa.</span><span class="sxs-lookup"><span data-stu-id="b6930-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="b6930-104">Jotkin pyynnöt voivat vaatia perusteellisempaa tarkastelua, ja käsittely voi kestää jopa 10 työpäivää.</span><span class="sxs-lookup"><span data-stu-id="b6930-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="b6930-105">Kun kelpoisuusehdot on tarkistettu, lähetämme sähköpostiviestin, jossa kerrotaan koulun kelpoisuustila.</span><span class="sxs-lookup"><span data-stu-id="b6930-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="b6930-106">**Tärkeää** Jos lopetit ohjatun vahvistustoiminnon ennen toimialueen syöttäminen, voit jatkaa [ohjattua vahvistustoimintoa](https://go.microsoft.com/fwlink/p/?linkid=2135255) milloin tahansa maksuttoman kokeilujakson aikana.</span><span class="sxs-lookup"><span data-stu-id="b6930-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="b6930-107">Jos haluat tarkistaa toimialueesi tilan, siirry [Microsoft 365 -hallintakeskukseen](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="b6930-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="b6930-108">Vieritä aloitussivulla alareunaan ja etsi kohta **Laskutus**.</span><span class="sxs-lookup"><span data-stu-id="b6930-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="b6930-109">**Laskutus**-kohta osoittaa vahvistusprosessin tilan (hyväksytty, odottaa, hylätty tai lisää toimialue).</span><span class="sxs-lookup"><span data-stu-id="b6930-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="b6930-110">Jos pyyntösi on hylätty, katso kohta [Kouluni ei ole oikeutettu. Mitä nyt teen?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="b6930-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>