---
title: EDU-todentaminen
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: fi-FI
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205264"
---
# <a name="edu-verification"></a><span data-ttu-id="cec47-102">EDU-todentaminen</span><span class="sxs-lookup"><span data-stu-id="cec47-102">EDU verification</span></span>

<span data-ttu-id="cec47-103">Useimmissa tapauksissa akateemiset kelpoisuuspyynnöt käsitellään 24-48 tunnin kuluessa.</span><span class="sxs-lookup"><span data-stu-id="cec47-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="cec47-104">Jotkin pyynnöt saattavat vaatia perusteellisempaa tarkistusta, ja käsittely voi kestää jopa 10 arkipäivää.</span><span class="sxs-lookup"><span data-stu-id="cec47-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="cec47-105">Kun olet valmis, lähetämme sähköpostia, jossa on koulusi kelpoisuustila.</span><span class="sxs-lookup"><span data-stu-id="cec47-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="cec47-106">**Tärkeää** Jos poistuit ohjatusta vahvistustoiminnosta ennen toimialueen syöttämistä, voit [jatkaa ohjattua akateemista vahvistustoimintoa](https://go.microsoft.com/fwlink/p/?linkid=2135255) milloin tahansa ilmaisen kokeilujakson aikana.</span><span class="sxs-lookup"><span data-stu-id="cec47-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="cec47-107">Jos haluat tarkistaa toimialueesi tilan, siirry [Microsoft 365 -hallintakeskukseen](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="cec47-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="cec47-108">Vieritä aloitussivulla alareunaan ja etsi **Laskutuskortti.**</span><span class="sxs-lookup"><span data-stu-id="cec47-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="cec47-109">**Laskutuskortti** ilmaisee vahvistusprosessin tilan (hyväksytty, odottava, hylätty tai toimialueen lisääminen).</span><span class="sxs-lookup"><span data-stu-id="cec47-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="cec47-110">Jos pyyntösi hylätään, katso, [että oma koulu ei ole kelvollinen. Mitä minä nyt teen?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="cec47-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>