---
title: EDU-vahvistus
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: HT
ms.contentlocale: fi-FI
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814369"
---
# <a name="edu-verification"></a>EDU-vahvistus

Useimmissa tapauksissa akateemiset kelpoisuuspyynnöt käsitellään 24-48 tunnin kuluessa. Jotkin pyynnöt voivat vaatia perusteellisempaa tarkastelua, ja käsittely voi kestää jopa 10 työpäivää. Kun kelpoisuusehdot on tarkistettu, lähetämme sähköpostiviestin, jossa kerrotaan koulun kelpoisuustila.

**Tärkeää** Jos lopetit ohjatun vahvistustoiminnon ennen toimialueen syöttäminen, voit jatkaa [ohjattua vahvistustoimintoa](https://go.microsoft.com/fwlink/p/?linkid=2135255) milloin tahansa maksuttoman kokeilujakson aikana.

Jos haluat tarkistaa toimialueesi tilan, siirry [Microsoft 365 -hallintakeskukseen](https://go.microsoft.com/fwlink/p/?linkid=2024339). Vieritä aloitussivulla alareunaan ja etsi kohta **Laskutus**. **Laskutus**-kohta osoittaa vahvistusprosessin tilan (hyväksytty, odottaa, hylätty tai lisää toimialue).

Jos pyyntösi on hylätty, katso kohta [Kouluni ei ole oikeutettu. Mitä nyt teen?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)