---
title: 8000038 GDPR-lapsitilin vahvistaminen
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: fi-FI
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764977"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="79d48-102">Microsoft-tililläsi näkyvä syntymäaika on virheellinen</span><span class="sxs-lookup"><span data-stu-id="79d48-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="79d48-103">Microsoft ottaa tietoturvan huomioon erittäin vakavasti.</span><span class="sxs-lookup"><span data-stu-id="79d48-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="79d48-104">Sinua on ehkä äskettäin pyydetty antamaan vanhemman suostumus lapsen Microsoft-tilille.</span><span class="sxs-lookup"><span data-stu-id="79d48-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="79d48-105">Jos tarvitset apua vanhempien suostumuksen antamisessa tai Microsoft-tilin syntymäajan päivittämisessä, katso [vanhempien suostumuksen ikävahvistus](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="79d48-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="79d48-106">Lisätietoja [vanhemman suostumuksesta ja Microsoftin lapsitileistä](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="79d48-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  