---
title: 8000038 GDPR-lapsitilin vahvistaminen
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: fi-FI
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764977"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Microsoft-tililläsi näkyvä syntymäaika on virheellinen

Microsoft ottaa tietoturvan huomioon erittäin vakavasti. Sinua on ehkä äskettäin pyydetty antamaan vanhemman suostumus lapsen Microsoft-tilille. Jos tarvitset apua vanhempien suostumuksen antamisessa tai Microsoft-tilin syntymäajan päivittämisessä, katso [vanhempien suostumuksen ikävahvistus](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Lisätietoja [vanhemman suostumuksesta ja Microsoftin lapsitileistä](https://go.microsoft.com/fwlink/p/?linkid=874365).
  