---
title: 8000038 GDPR lapsen tilin vahvistus
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom: 8000038
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: c664adf9fdb0306b3407a5c23628aa4c7bbd5b83
ms.sourcegitcommit: 03a156a9c9740521155a30775492c7dff0982588
ms.translationtype: MT
ms.contentlocale: fi-FI
ms.lasthandoff: 03/22/2019
ms.locfileid: "30775834"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="0ea11-102">Syntynyt näkyvät Microsoft-tili on virheellinen</span><span class="sxs-lookup"><span data-stu-id="0ea11-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="0ea11-103">Microsoft ottaa huomioon toimitusvarmuuden erittäin vakavasti.</span><span class="sxs-lookup"><span data-stu-id="0ea11-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="0ea11-104">Ehkä on äskettäin ollut sinua vanhempien lupa säätää lapsen Microsoft-tili.</span><span class="sxs-lookup"><span data-stu-id="0ea11-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="0ea11-105">Jos tarvitset apua tarjoavat vanhempien tai päivitettäessä Microsoft-tili syntynyt, katso [iäntarkistus vanhempien suostumusta](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="0ea11-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="0ea11-106">Lisätietoja [vanhempien ja lasten tilit Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="0ea11-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  

