---
title: 8000038 GDPR lapsen tilin vahvistus
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 13e69ac917a08a338759269df5724c0528dd2eb0
ms.sourcegitcommit: 1d98db8acb9959aba3b5e308a567ade6b62da56c
ms.translationtype: MT
ms.contentlocale: fi-FI
ms.lasthandoff: 08/22/2019
ms.locfileid: "36524408"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Syntynyt näkyvät Microsoft-tili on virheellinen

Microsoft ottaa huomioon toimitusvarmuuden erittäin vakavasti. Ehkä on äskettäin ollut sinua vanhempien lupa säätää lapsen Microsoft-tili. Jos tarvitset apua tarjoavat vanhempien tai päivitettäessä Microsoft-tili syntynyt, katso [iäntarkistus vanhempien suostumusta](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Lisätietoja [vanhempien ja lasten tilit Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  