---
title: Julkaisijan tarkistamisongelmien vianmääritys
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: fi-FI
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885053"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Publisherin tarkistamisongelmat kehittäjille

**Suositellut vaiheet** 

Voit ratkaista julkaisijan tarkistamisongelmia seuraavasti:

1. Tarkista edellytykset ja muut vaatimukset sen varmistamiseksi, että ne kaikki täyttyvät.
2. Tarkista ohjeet, jos [haluat merkitä sovelluksen julkaisijan tarkistetuksi](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) ja varmistaa, että kaikki vaiheet on suoritettu onnistuneesti.
3. Tarkista [yleisimmät ongelmat ja](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) noudata suositeltuja ohjeita, jos luettelossa on ongelma.
4. Voit kopioida pyynnön [Graph Explorerilla](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) ja kerätä lisätietoja ja sulkea pois käyttöliittymän ongelmat.

**Suositellut asiakirjat**

- [Publisherin vahvistus – yleiskatsaus](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Sovelluksesi merkitseminen julkaisijaksi vahvistettuna](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Julkaisijan tarkistamisongelmien vianmääritys](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

