---
title: Julkaisijan tarkistamisongelmien vianmääritys
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: fi-FI
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885053"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="b8a3a-102">Publisherin tarkistamisongelmat kehittäjille</span><span class="sxs-lookup"><span data-stu-id="b8a3a-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="b8a3a-103">**Suositellut vaiheet**</span><span class="sxs-lookup"><span data-stu-id="b8a3a-103">**Recommended steps**</span></span> 

<span data-ttu-id="b8a3a-104">Voit ratkaista julkaisijan tarkistamisongelmia seuraavasti:</span><span class="sxs-lookup"><span data-stu-id="b8a3a-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="b8a3a-105">Tarkista edellytykset ja muut vaatimukset sen varmistamiseksi, että ne kaikki täyttyvät.</span><span class="sxs-lookup"><span data-stu-id="b8a3a-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="b8a3a-106">Tarkista ohjeet, jos [haluat merkitä sovelluksen julkaisijan tarkistetuksi](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) ja varmistaa, että kaikki vaiheet on suoritettu onnistuneesti.</span><span class="sxs-lookup"><span data-stu-id="b8a3a-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="b8a3a-107">Tarkista [yleisimmät ongelmat ja](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) noudata suositeltuja ohjeita, jos luettelossa on ongelma.</span><span class="sxs-lookup"><span data-stu-id="b8a3a-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="b8a3a-108">Voit kopioida pyynnön [Graph Explorerilla](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) ja kerätä lisätietoja ja sulkea pois käyttöliittymän ongelmat.</span><span class="sxs-lookup"><span data-stu-id="b8a3a-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="b8a3a-109">**Suositellut asiakirjat**</span><span class="sxs-lookup"><span data-stu-id="b8a3a-109">**Recommended documents**</span></span>

- [<span data-ttu-id="b8a3a-110">Publisherin vahvistus – yleiskatsaus</span><span class="sxs-lookup"><span data-stu-id="b8a3a-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="b8a3a-111">Sovelluksesi merkitseminen julkaisijaksi vahvistettuna</span><span class="sxs-lookup"><span data-stu-id="b8a3a-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="b8a3a-112">Julkaisijan tarkistamisongelmien vianmääritys</span><span class="sxs-lookup"><span data-stu-id="b8a3a-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

